body {
    background-color: #8db0f2;
    margin: 0 auto;
}

h2 {
    color: #393939;
    text-align: center;
}

#chapter p {
    font-size: 13px;
}
#chapter img {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

#chapter {
    display: flex;
}

#chapter section {
    flex: 1;
}

#container section a {
    text-decoration: none;
    color: #4d4d4d;
    transition: 0.5s;
}


#container section a:hover{
    text-decoration: none;
    color: aliceblue;
    transition: 0.5s;

}

#container {
    width: 60%;
    background-color: #6495ed;
    font-family: sans-serif;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding: 5%;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #fff;
    margin: 0 auto;
}