body {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    background-color: cornflowerblue;
    font-family: sans-serif;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding: 10%;
}

h2 {
    color: #393939;
    text-align: center;
}

#chapter,
#chapter,
#chapter p {
    font-size: small;
}
#chapter img {
    /*text-align: center;*/
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

#chapter {
    display: flex;
}

#chapter section {
    flex: 1;
}

#container section a {
    text-decoration: none;
    color: #4d4d4d;
    transition: 0.5s;
}


#container section a:hover{
    text-decoration: none;
    color: aliceblue;
    transition: 0.5s;

}