body {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    background-color: cornflowerblue;
    font-family: sans-serif;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding: 10%;
}

h2 {
    color: #393939;
    text-align: center;
}

#chapter1,
#chapter2,
#chapter3 p {
    font-size: small;
}
#chapter1 img {
    /*text-align: center;*/
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

#chapter1 {
    display: flex;
}

#chapter1 section {
    flex: 1;
}